$main-clr-one: rgb(54, 205, 205); //rgb(236, 74, 72)
$main-clr-one-hover: rgb(162, 211, 211);
$main-clr-two: rgb(53, 61, 71);
$text-clr-dark: rgb(74, 69, 63);
$text-clr-light: rgb(231, 229, 229);
$background-clr: rgb(255, 255, 255);
$background-clr-darker: rgb(240, 240, 241);

$shadow-light: 0px 0px 25px 5px rgba(0, 0, 0, 0.11);